# Frontend (Clerk + API)
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_...
CLERK_SECRET_KEY=sk_test_...

NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/dashboard
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=/dashboard
NEXT_PUBLIC_CLERK_SIGN_IN_FALLBACK_REDIRECT_URL=/
NEXT_PUBLIC_CLERK_SIGN_UP_FALLBACK_REDIRECT_URL=/

# URL del backend (FastAPI) al que llamará el frontend
NEXT_PUBLIC_API_URL=http://localhost:8000

# Backend FastAPI
MONGODB_URL=mongodb://root:example@mongodb:27017/admin
S3_BUCKET=suchus-contracts
S3_REGION=us-east-1
AWS_ACCESS_KEY_ID=your_access_key
AWS_SECRET_ACCESS_KEY=your_secret_key
# URL a la que n8n llamará cuando termine
N8N_WEBHOOK_URL=http://n8n:5678/webhook/analyze-contract

# n8n
N8N_BASIC_AUTH_ACTIVE=true
N8N_BASIC_AUTH_USER=admin
N8N_BASIC_AUTH_PASSWORD=password
N8N_ENCRYPTION_KEY=supersecretkey
OPENAI_API_KEY=sk-...
